.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}

.widget .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget .left .title {
  font-weight: bold;
  font-size: 17px;
  color: rgb(44, 44, 44);
}

.widget .left .link {
  width: max-content;
  font-size: 17px;
  border-bottom: 1px solid rgb(44, 44, 44);
}

.widget .left .link a {
  color: #4d4c4c;
  text-decoration: none;
}

.widget .center {
  display: flex;
  align-items: center;
}

.widget .center .count {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: #4d4c4c;
  
}

.widget .right {
  display: flex;
  align-items: flex-end;
}

.widget .icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}

.widget:hover {
  transform: translateY(-2px);
}
