/* ProductsByCategory.css */
.products-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  }
  .products-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 50px;
    color: #333; /* Adjust color as needed */
  }
    
  .products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .product-item1 {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  .product-details1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .product-image1 {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .product-name1 {
    font-size: 18px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .view-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(235, 151, 17, 0.865);
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  .product-item1:hover .product-name1 {
    opacity: 0;
  }
  
  .product-item1:hover .view-button {
    display: block;
  }
  
  .product-item1:hover .product-image1 {
    transform: scale(1.05);
  }
  

  .sort-container {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .sort-container select {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgba(235, 151, 17, 0.865);
    margin-right: 10px;
  }
  
  .sort-container button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgba(235, 151, 17, 0.865);
    color: #fff;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .sort-container button:hover {
    background-color: #000;
  }
  