.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
      flex-direction: column;

      h1 {
        color: lightgray;
        font-size: 20px;
        margin-bottom: 10px; /* Added margin bottom for spacing */
      }

      .left {
        text-align: center;
        margin-bottom: 20px; /* Added margin bottom for spacing */

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Added gap between form inputs and button */

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: calc(50% - 15px); /* Adjusted width to fit two inputs in a row with gap */

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: rgba(235, 151, 17, 0.865);
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            align-self: center; /* Center button horizontally */
          }
        }
      }
    }
  }

  // Add styles for the toast alert
  .toast {
    position: fixed;
    top: 20px; // Adjust positioning as needed
    left: 50%;
    transform: translateX(-50%);
    background-color: #06924e; // Green color
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    z-index: 999;
    animation: slideIn 0.5s ease forwards, fadeOut 2s ease forwards 1.5s;
  }

  @keyframes slideIn {
    from {
      top: -100px; // Adjust initial position
    }
    to {
      top: 20px; // Adjust final position
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
