.featured .box {
    box-shadow: 0 0 20px 0 rgba(112, 121, 138, 0.18); /* Fixed the color format */
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
  }
  
  .featured img {
    width: 65px;
    height: 65px;
    margin: auto;
  }
  