.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 30px;
      font-weight: bold;
      color: rgba(235, 151, 17, 0.865);
    }
  }

  hr {
    height: 0.5px;
    border: none;
    background-color: rgb(230, 227, 227);
    margin: 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;

      .title {
        font-size: 25px ,bold;
        font-weight: bold;
        color:#4d4c4c;
        margin: 15px 0 5px 0;
        padding-left: 10px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(244, 189, 100, 0.1);
        }

        .icon {
          font-size: 22px,bold;
          color: rgb(255, 157, 0);
        }

        span {
          font-size: 20px;
          font-weight: 600;
          color: #4d4c4c;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid rgb(252, 155, 0);
      cursor: pointer;
      margin-right: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}
