/* Categories.css */

.categories-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
  .categories-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 50px;
    color: #333;
  }
  
  .categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-item {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  .category-details{
    text-align: center;
    margin-bottom: 10px;
  }
  .category-image{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .category-name{
    font-size: 18px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .category-item:hover .category-name {
    opacity: 0; 
  }
  .category-item:hover .category-image {
    transform: scale(1.05);
  }