.about {
  margin-bottom: 80px;
}

.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .about .container {
    display: flex;
    flex-direction: column;
  }

  .about p {
    padding-right: 0; /* Updated to reset padding */
  }

  .about .container img {
    margin-top: 70px;
    width: 100%; /* Added to ensure image responsiveness */
    max-width: 100%; /* Added to ensure image responsiveness */
    height: auto; /* Added to ensure image responsiveness */
  }
}
.about h1{
  color: rgba(235, 151, 17, 0.865);
  font-size: 35px;
  margin-bottom: 5px;
}
.about h2{
  color: rgba(60, 60, 60, 0.865);
  font-size: 18px;
  margin-bottom: 5px;
}
