.single {
  display: flex;
  width: 100%;
}

.singleContainer {
  flex: 6;

  .top {
    padding: 20px;
    display: flex;
    gap: 20px;

    .left {
      flex: 1;
      padding: 20px;
      position: relative;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      .editButton {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px 16px;
        font-size: 14px;
        color: #ffffff;
        background-color: #ff9e0f;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #ffbb52;
        }
      }

      .item {
        display: flex;
        gap: 20px;

        .itemImg {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          .itemTitle {
            margin-bottom: 10px;
            color: #333333;
            font-size: 18px;
            font-weight: bold;
          }

          .detailItem {
            margin-bottom: 10px;
            font-size: 16px;
            color: #555555;

            .itemKey {
              font-weight: bold;
              color: #777777;
              margin-right: 5px;
            }

            .itemValue {
              font-weight: 300;
              color: #333333;
            }
          }
        }
      }
    }

    .right {
      flex: 2;
    }
  }

  .bottom {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 20px;
  }

  .title {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .editForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    label {
      font-size: 16px;
      color: #333333;
      margin-bottom: 5px;
    }

    input,
    select {
      padding: 12px;
      font-size: 16px;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }

    button {
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #ff9e0f;
      color: #ffffff;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ffbb52;
      }
    }

    .previewImage {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      /* Apply yellow shadow */
      box-shadow: 0px 4px 10px rgba(255, 158, 15, 0.5);
    }
  }
}
